#largecontainer {
  height: 100vh;
}
.postedit input {
  display: block;
  position: absolute;
  left: 36%;
  top: 32px;
}
.postedit {
  position: relative;
  height: 100vh;
}
.postcontainer {
  position: relative;
  height: 100vh;
}
.texarea {
  position: absolute;
  top: 15%;
  left: 10%;
}

.edi {
  position: absolute;
  left: 95%;
  top: 9%;
  background-color: rgb(218, 49, 77);
  color: white;
  border: 0.5px solid lightgray;
  box-shadow: 5px 5px lightgray;
}
.sep {
  position: absolute;
  bottom: 110px;
  left: 80px;
  background-color: rgb(218, 49, 77);
  color: white;
  border: 0.5px solid lightgray;
  box-shadow: 5px 5px lightgray;
}
.sep1 {
  position: absolute;
  bottom: 110px;
  left: 160px;
}
span {
  position: absolute;
  bottom: 80px;
  left: 80px;
}
.smallcantainer {
  height: auto;
}
.comment {
  position: absolute;
  bottom: 10px;
  left: 70px;
}
.comment-area {
  height: auto;
}
.com {
  position: absolute;
  left: 70px;
  display: block;
  background-color: rgb(218, 49, 77);
  color: white;
  border: 0.5px solid lightgray;
  box-shadow: 5px 5px lightgray;
}
.smallcontainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: aut0;
  margin-left: 100px;
  margin-top: 50px;
  background-color: lightgray;
}
#pcomment {
  display: block;
  background-color: white;
  padding: 10px 10px;
  margin: 3px 10px;
}
@media screen and (min-width: 1500px) {
  .edi {
    position: absolute;
    left: 96%;
    top: 17%;
    background-color: rgb(218, 49, 77);
    color: white;
    border: 0.5px solid lightgray;
    box-shadow: 5px 5px lightgray;
  }
  .postedit input {
    left: 36%;
    top: 61px;
    display: block;
    position: absolute;
    width: 500px;
    height: 30px;
    border: 0.2px solid lightgray;
  }
  .texarea {
    position: absolute;
    top: 21%;
    left: 5%;
    width: 1411px;
    height: 370px;
    border: 0.2px solid lightgray;
  }
  .sep {
    position: absolute;
    bottom: 161px;
    left: 80px;
    background-color: rgb(218, 49, 77);
    color: white;
    border: 0.5px solid lightgray;
    box-shadow: 5px 5px lightgray;
  }
  span {
    position: absolute;
    bottom: 136px;
    left: 80px;
  }
  .com {
    position: absolute;
    left: 70px;
    top: 589px;
    display: block;
    background-color: rgb(218, 49, 77);
    color: white;
    border: 0.5px solid lightgray;
    box-shadow: 5px 5px lightgray;
  }
  .comment {
    position: absolute;
    bottom: 33px;
    left: 70px;
    width: 706px;
    height: 75px;
  }
  .smallcontainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: aut0;
    margin-left: 100px;
    margin-top: 10px;
    background-color: lightgray;
  }
}
